@import url('https://fonts.googleapis.com/css2?family=Bangers&family=Carter+One&family=Permanent+Marker&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    margin: 0;
	padding: 0;
	border: 0;
	background: transparent;
	text-decoration: none;
    list-style: none;
	outline: none;
	box-sizing: border-box;
}
/* Header section */
header{
    background-color: #fff;
    display: flex;
    justify-content: center;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.06);
    height: 12vh;
    position: sticky;
    top: 0;
    left: 0;
    z-index: 999;
}

header .wrapper{
    margin-top: 16px;
    width: 95%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header .wrapper .nav-bar{
    display: flex;
    justify-content: space-between;
    gap: 5rem;
}

header .wrapper .logo{
    font-family: "Carter One", system-ui;
    font-size: 2.5rem;
    color: #000;
}

header .wrapper .nav-bar ul{
    display: flex;
    align-items: center;
}

header .wrapper .nav-bar ul li{
    font-family: 'Roboto', sans-serif;
    font-size: 1.1rem;
    font-weight: 600;
    padding: 15px;
}
header .wrapper .nav-bar ul li a{
    color: #000;
}
header .wrapper .nav-bar ul li a:hover{
    color: #ffa500;
}
header .wrapper .nav-bar-icons i{
    font-size: 20px;
    padding: 7px;
}
/* Header section */
#home{
    background-image: url("./images/hero-banner.jpg");
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
    position: relative;
}
#home .hero-text{
    font-family: "Bangers", system-ui;
    color: #fff;
    position: absolute;
    top: 12rem;
    left: 12rem;
    text-align: center;
}
#home .hero-text span{
    font-size: 4.5rem;
    letter-spacing: 1px;
    line-height: px;
}
#home .hero-text h1{
    font-size: 7.5rem;
    letter-spacing: 15px;
}
#home .hero-text p{
    margin-top: 2rem;
    font-size: 1.4rem;
    font-weight: 400;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 35px;
}
#home .hero-text a{
    padding: 10px 30px;
    background-color: #000;
    color: #fff;
    border-radius: 30px;
    font-family: 'Roboto', sans-serif;
    transition: .3s;
}
#home .hero-text a:hover{
    background-color: #ff8400;
    box-shadow: 2px 2px 48px rgb(255, 255, 255);
}
/* Categories section */
.categories{
    font-family: 'Roboto', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
}
.categories .wrapper{
    margin-top: 5rem;
    
}
.categories .wrapper span{
    color: #ff3e3e;
}
.categories .wrapper h1{
    text-align: center;
    font-size: 40px;
    font-weight: 600;
}
.categories .wrapper .card-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    gap: 1.8rem;
}
.categories .wrapper .card{
    margin-top: 3rem;
    width: 270px;
    height: 245px;
    border-radius: 16px;
}

.categories .wrapper .card-img{
    overflow: hidden;
    border-radius: 16px;
}

.categories .wrapper .card-img:hover img{
    transform: scale(1.1);
}

.categories .wrapper .card-img img{
    width: 270px;
    display: flex;
    justify-content: center;
    transition: .3s;
    border-radius: 16px;
}
.categories .wrapper .card-container h3{
    text-align: center;
    font-weight: 500;
    margin-top: 15px;
    transition: .3s;
    cursor:  pointer;
}
.categories .wrapper .card-container h3:hover{
    color: #ff3e3e;
}

.offer-container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.offer-banner{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 2.5rem;
}

.banner-container{
    margin-top: 10rem;
    position: relative;
}
.banner-container img{
    width: 460px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.banner-container .offer-text{
    position: absolute;
    bottom: 9rem;
    left: 1.6rem;
}
.banner-container .offer-text p{
    font-size: 14px;
    letter-spacing: 1px;
    font-weight: 500;
}
.banner-container .offer-text h3{
    font-size: 35px;
    font-weight: 500;
}
.banner-container .offer-text span{
    color: #000;
    font-size: 33px;
    font-weight: 500;
}
.banner-container .offer-text a{
    position: absolute;
    top: 8rem;
    padding: 10px 25px;
    background-color: #ff4c11;
    color: #fff;
    border-radius: 30px;
    transition: .3s;
}
.banner-container .offer-text a:hover{
    background-color: #000;
}

/* Product section */

.product{
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
}

.product .wrapper{
    margin-top: 6rem;
}
.product .wrapper h1{
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 2rem;
}
.product .wrapper span{
    color: #ff3e3e;
}
.product .wrapper .product-container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 2.5rem;
}
.product .wrapper .product-img{
    outline: 1px solid #bababa;
    width: 335px;
    height: 335px;
    border-radius: 10px;
}

.product .wrapper .items{
    text-align: center;
}

.product .wrapper .star{
    margin-top: 15px;
}

.product .wrapper .star i{
    font-size: 12px;
    color: #ffe100;
}
.product .wrapper .star span{
    color: #818181;
    font-size: 12px;
}
.product .wrapper .items h3{
    font-weight: 500;
    margin-top: 15px;
}

.product .wrapper .items .price{
    font-size: 18px;
    font-weight: 600;
    color: #ff3e3e;
}
.product .wrapper .product-img{
    position: relative;
}

.product .wrapper .product-img i{
    position: absolute;
    bottom: 18rem;
    right: 1rem;
    color: #939393;
    padding: 6px;
    border: 1px solid #939393;
    border-radius: 50%;
    opacity: 0;
    transition: .3s;
}

.product .wrapper .product-img:hover i{
    opacity: 1;
}

.product .wrapper .product-img img{
    width: 100%;
    height: 100%;
    
}
.product .wrapper .product-img:hover img{
    background-image: url("./images/product-1_0.jpg");
    width: 100%;
    height: 100%;
}